* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: linear-gradient(135deg, #4e54c8, #8f94fb); */
    height: 100vh;
    display: flex;
    flex-direction: column;
     /* padding: 20px; */
    background: var(--card-bg);
    box-shadow: 0 4px 14px var(--shadow);
        --bg: #f5f6ff;
    --text: #222;
    --card-bg: #ffffffee;
    --shadow: rgba(0,0,0,0.2);
}

/* HEADER */
.header2 {
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 18px rgba(0,0,0,0.2);
    text-align: center;
}

.header2 h1 {
    margin-bottom: 10px;
    color: rgb(8, 0, 0);
    font-size: 28px;
}

.header-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* TOP 5 BUTTONS */
.top-cities {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.top-cities button {
    padding: 8px 14px;
    background: #4158D0;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.top-cities button:hover {
    background: #3146ab;
}

/* SEARCH */
.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-box input {
    width: 220px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 8px 14px;
    background: #FF6D28;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.search-box button:hover {
    background: #d95c1f;
}

/* MAIN LAYOUT: LEFT CARD + RIGHT MAP */
.main-layout {
    display: flex;
    flex: 1;
    padding: 15px;
    gap: 20px;
}

/* WEATHER CARD */
.left-side {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Forecast */
.forecast {
    background: var(--card-bg);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 18px var(--shadow);
}
.forecast-day {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc4;
    padding: 6px 0;
}

.weather-card {
    width: 330px;
    background: #fff;
    border-radius: 12px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.weather-card i {
    font-size: 80px;
    margin-bottom: 12px;
}

.hidden {
    display: none;
}

/* MAP (RIGHT SIDE) */
#map {
    flex: 1;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
/* Chart */
.chart {
    height: 200px;
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 5px 18px var(--shadow);
    padding: 10px;
}